.avatar{
    margin-top: 12%;
    
}
.shadow-1{
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
h1{
    margin-top: 3%;
    color: white;
    font-weight: 900;
}
p{
    color: white;
}
